.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffc909;
    
}
.listOfNames {
    display: flex;
    justify-content: space-evenly;
    
}
li {
    list-style: none;
    margin-top: 10px;
    font-size: 25px;
    cursor: pointer;

}
.active{
    text-decoration: underline;
}

ul {
    max-width: 500px;
    padding: 30px;
    border: 1px solid #ffc909;
    border-radius: 5px;
    

}

.noGradient::after {
    content: none !important;
}

.colorInfo {
    display: flex;
    justify-content: center;
    
    
}
.colorInfoItem {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.green {
    width: 25px;
    height: 25px;
    background-color: green;
    border: 1px solid greenyellow;
    
}

.red {
    width: 25px;
    height: 25px;
    background-color: rgb(140, 5, 5);
    border: 1px solid red;

}

.blue{
    width: 25px;
    height: 25px;
    background-color: rgb(0, 0, 128);
    border: 1px solid rgb(34, 91, 234);
}

span {
    margin-left: 10px;
}

.compair {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    
}

.btnC{
    background-color: #ffc909;
    border: 2px solid rgb(255, 248, 40);
    width: 300px;
    height: 90px;
    font-size:larger;
    font-weight:bold;
    
    
}

.compairWrapper li {
    display: flex;
    justify-content: space-between;

}

#compairOne, #compairTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
}  

.compairWrapper {
    display: none;
    margin-top: 50px;
    justify-content: space-evenly;
}
.pic {
    justify-content: center;
    display: flex;
    height: 300px;
    
    
}
img {
    width: 200px;
}

body {
    background-color: rgb(20,20,20);
    overflow: hidden; 
    font-family: 'Roboto', sans-serif;
    /* push down the wrapper by half the page */
    margin: 50% 0 0 0;
    position: relative;
    
    
}

body::after {
   content: ''; 
   position: fixed;
   top: 0;
   width: 100%;
   height: 50%;
   background: linear-gradient(180deg, rgba(20,20,20,1) 40%, rgba(20,20,20,0) 100%)  
}  
.wrapper {
    display: flex;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    
}


.scroll-text {
    color: #ffc909;
    font-size: 60px;
    font-weight: bold;
    text-align: justify;
    position: relative;
    animation: scroll 60s linear forwards;
   
    
}
     
h1 {
    font-family: 'Star Wars', sans-serif;
}

h1,h2 {
     text-align: center;
}
      
@keyframes scroll {
    from { top: 0; transform: translateZ(0) rotateX(0deg)}
    to { top: -10500px; transform: translateZ(-2500px) rotateX(21deg) }
}


@media (max-width: 600px){
    
    .wrapper .scroll-text{
     font-size: 30px;
     padding-left: 10px;
     padding-right: 10px; 
    }
    body::after{
    content: ''; 
    position: fixed;
    top: 0;
    height: 30%;
    background: linear-gradient(180deg, rgba(20,20,20,1) 40%, rgba(20,20,20,0) 100%)
    }
    .compairWrapper{
        flex-direction: column;
    }

    #compairTwo {
        margin-top: 40px;
    }

    
}

